.header-bg{
  max-width: 100%;
}

.header-container{
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

.header-container ul{
  display: flex;
  gap: 30px;
  max-width: 1200px;
  font-size: 18px;
}

.header-container a{
  padding: 5px;
}

.header-menu a:hover{
  border-bottom: 1px solid orange;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

header img{
  max-width: 130px;
}

.btn-mobile{
  display: none;
  cursor: pointer;
}

.btn-mobile .line1, .btn-mobile .line2, .btn-mobile .line3 {
  width: 28px;
  height: 2px;
  background-color: #000;
  margin: 6px;
}

@media (max-width: 900px){
  header img{
    max-width: 100px;
  }

  .header-container ul{
    font-size: 15px;
  }
}

@media (max-width: 850px){
  .header-container ul{
    display: none;
  }

  .btn-mobile{
    display: flex;
    align-items: center;
    z-index: 4000;
    gap: 20px;
  }

  .btn-mobile .cart-button{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .btn-mobile .cart-button i{
    font-size: 18px;
    color: #A9A9A9;
  }

  .btn-mobile .cart-button i.pisca{
    animation: piscaCart 2s ease-in-out infinite;
  }

  @keyframes piscaCart {
    50% {
      color: orange;
    }
  }

  .header-container ul.active{
    display: flex;
    position: absolute;
    top: 20vh;
    right: 0;
    width: 50vw;
    height: 80vh;
    background-color: rgba(255,255,255, 0.9);
    flex-direction: column;
    align-items: center;
    z-index: 300;
    animation: menuAnimation .4s;
    padding: 25% 0;
    font-weight: 700;
  }

  @keyframes menuAnimation {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
}